@model LaLiga.Models.Statystyki

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/league-table.css" />

<h1>Edit</h1>

<h4>Statystyki</h4>
<h5>
    Mecz: @(Model.mecz?.gospodarze?.nazwa_druzyny ?? "???") vs @(Model.mecz?.goscie?.nazwa_druzyny ?? "???") –
    @(Model.mecz?.termin.ToString("yyyy-MM-dd") ?? "")
</h5>
<hr />
<div class="form-wrapper">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_meczu" />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" }) <!-- obsługa błędów -->
            <div class="form-group">
                <label asp-for="gole_gospodarzy" class="control-label"></label>
                <input asp-for="gole_gospodarzy" class="form-control" />
                <span asp-validation-for="gole_gospodarzy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gole_gosci" class="control-label"></label>
                <input asp-for="gole_gosci" class="form-control" />
                <span asp-validation-for="gole_gosci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strzaly_gospodarzy" class="control-label"></label>
                <input asp-for="strzaly_gospodarzy" class="form-control" />
                <span asp-validation-for="strzaly_gospodarzy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strzaly_gosci" class="control-label"></label>
                <input asp-for="strzaly_gosci" class="form-control" />
                <span asp-validation-for="strzaly_gosci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
