@{
    ViewData["Title"] = "Core";
}

<h2>Zostałeś zalogowany.</h2>

<form method="post" asp-action="Logout">
    <button type="submit">Wyloguj</button>
</form>

<hr />

<div>
    <form asp-controller="Uzytkownik" asp-action="Index" method="get">
        <button type="submit">Użytkownicy</button>
    </form>

    <form asp-controller="Druzyna" asp-action="Index" method="get">
        <button type="submit">Drużyny</button>
    </form>

    <form asp-controller="Zawodnik" asp-action="Index" method="get">
        <button type="submit">Zawodnicy</button>
    </form>

    <form asp-controller="Mecz" asp-action="Index" method="get">
        <button type="submit">Mecze</button>
    </form>

    <form asp-controller="Strzelec" asp-action="Index" method="get">
        <button type="submit">Strzelcy</button>
    </form>

    <form asp-controller="Statystyki" asp-action="Index" method="get">
        <button type="submit">Statystyki</button>
    </form>
</div>
