@{
    ViewData["Title"] = "Core";
}

<h2>Zostałeś zalogowany.</h2>

<form method="post" asp-action="Logout">
    <button type="submit">Wyloguj</button>
</form>
<form method="get" asp-action="AddData">
    <button type="=submit">Dodaj dane</button>
</form>
