@model LaLiga.Models.Uzytkownik

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Uzytkownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="haslo" class="control-label"></label>
                <input asp-for="haslo" class="form-control" />
                <span asp-validation-for="haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wiek" class="control-label"></label>
                <input asp-for="wiek" class="form-control" />
                <span asp-validation-for="wiek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imie" class="control-label"></label>
                <input asp-for="imie" class="form-control" />
                <span asp-validation-for="imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nazwisko" class="control-label"></label>
                <input asp-for="nazwisko" class="form-control" />
                <span asp-validation-for="nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_dołączenia" class="control-label"></label>
                <input asp-for="data_dołączenia" class="form-control" />
                <span asp-validation-for="data_dołączenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
