@model LaLiga.Models.Strzelec

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Strzelec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_druzyny" class="control-label"></label>
                <select asp-for="id_druzyny" class ="form-control" asp-items="ViewBag.id_druzyny"></select>
            </div>
            <div class="form-group">
                <label asp-for="numer" class="control-label"></label>
                <select asp-for="numer" class ="form-control" asp-items="ViewBag.numer"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_meczu" class="control-label"></label>
                <select asp-for="id_meczu" class ="form-control" asp-items="ViewBag.id_meczu"></select>
            </div>
            <div class="form-group">
                <label asp-for="gole" class="control-label"></label>
                <input asp-for="gole" class="form-control" />
                <span asp-validation-for="gole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="asysty" class="control-label"></label>
                <input asp-for="asysty" class="form-control" />
                <span asp-validation-for="asysty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
