@model LaLiga.Models.Strzelec

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/league-table.css" />

<h1>Edit</h1>

<h4>Strzelec</h4>
<hr />
<div class="form-wrapper">
    <div class="form-box">
        <form asp-action="Edit" method="post" asp-route-id_druzyny="@Model.id_druzyny" asp-route-numer="@Model.numer"
            asp-route-id_meczu="@Model.id_meczu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_druzyny" />
            <input type="hidden" asp-for="numer" />
            <input type="hidden" asp-for="id_meczu" />
            <div class="form-group">
                <label asp-for="gole" class="control-label"></label>
                <input asp-for="gole" class="form-control" />
                <span asp-validation-for="gole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="asysty" class="control-label"></label>
                <input asp-for="asysty" class="form-control" />
                <span asp-validation-for="asysty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
